.h1 {
    font-family: "adobe-garamond-pro", serif;
font-weight: 250;
font-style: normal;
text-align: center;
font-size: 145px;
letter-spacing: -3px;
margin-top: 30px;
    
}

.h2 {
font-family: "adobe-garamond-pro", serif;
font-weight: normal;
text-align: center;
letter-spacing: 7px;
font-size: 30px;
margin-top: -130px;

}

.body1 {
     font-family: "adobe-garamond-pro", serif;
    text-align: center;
    font-size: 30px;
    text-wrap: wrap;
    line-height: 50px;
}

.body2 {
     font-family: "adobe-garamond-pro", serif;
    text-align: center;
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 60px;
}

.aidisclo {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: -0.5px; }

    .homebutton{
    font-family: "adobe-garamond-pro", serif;
font-weight: 250;
font-style: normal;
text-align: center;
font-size: 145px;
letter-spacing: -3px;
margin-top: 15px;
border: none;
cursor: pointer;
background: none;
}

.lowerhomebutton {
   font-family: "adobe-garamond-pro", serif;
font-weight: normal;
text-align: center;
letter-spacing: 7px;
font-size: 30px;
margin-top: -130px;
border: none;
cursor: pointer;
background: none;

}

















.button:hover {
    font-weight: bold;
}

.button:active {
    text-shadow: 2px 2px 4px black;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}
img {
    display: block;
    margin: auto;
  width: 30%;
  height: 30%;
  background-color: grey;

}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: -0.5px;
    margin-top: 10px;

}

.bottomdiv {
text-align: center;
display: block;

}

.div2 {

}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */


.fa-linkedin {
  background: none;
  color: black;
}


.fa-instagram {
  background: none;
  color: black;
}


.fa-envelope {
     background: none;
  color: black;
}

.cr {
     font-family: "adobe-garamond-pro", serif;
    text-align: center;
    font-size: 22px;
}




.aidisclo {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: -0.5px; }
    